[submodule "shellfire"]
	path = shellfire
	url = https://github.com/shellfire-dev/shellfire.git
[submodule "psas-data-analysis"]
	path = psas-data-analysis
	url = https://github.com/psas/data-analysis.git
[submodule "qemu-linaro"]
	path = qemu-linaro
	url = https://git.linaro.org/qemu/qemu-linaro.git
